<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>欢迎页面-L-admin1.0</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta charset="UTF-8">
    <title>后台登录-L-admin2.0</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
      <meta http-equiv="Cache-Control" content="no-siteapp" />
      
      <!-- <link rel="shortcut icon" href="__STATIC__/favicon.ico" type="image/x-icon" /> -->
      <!-- <link rel="stylesheet" href="__CSS__/font.css"> -->
    <!-- <link rel="stylesheet" href="__CSS__/xadmin.css"> -->
    <!-- <script src="__JS__/jquery.min.js"></script> -->
    <!-- <script src="__LIB__/layui/layui.js" charset="utf-8"></script> -->
    <!-- <script type="text/javascript" src="__JS__/xadmin.js"></script> -->
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <link rel="stylesheet" href="__CSS__/global.css">
    <script src="__LAYUI__/layui.js"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="x-body">
    <form class="layui-form" id="form">
      <!-- <input type="hidden" name="photo" value="" id="avatar"> -->
      <!-- <div class="layui-form-item">
        <label for="id" class="layui-form-label">
          <span class="x-red">*</span>id
        </label>
        <div class="layui-input-inline">
          <input type="text" readonly id="id" name="id" required lay-verify="required" autocomplete="off" value=""
            class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>id
        </div>
      </div> -->
      <div class="layui-form-item">
        <label for="username" class="layui-form-label">
          <span class="x-red">*</span>登录名
        </label>
        <div class="layui-input-inline">
          <input type="text" id="username" name="username" required lay-verify="required" autocomplete="off" value=""
            class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一的登入名
        </div>
      </div>
      <!-- <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>手机
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="18925139194" id="phone" name="phone" required lay-verify="phone"
                  autocomplete="off" class="layui-input">
              </div>
             <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div> -->
      <!-- <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>邮箱
              </label>
              <div class="layui-input-inline">
                  <input type="text" value="113664000@qq.com" id="L_email" name="email" required lay-verify="email"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
          </div> -->
      <!-- <div class="layui-form-item">
              <label class="layui-form-label"><span class="x-red">*</span>角色</label>
              <div class="layui-input-block">
                <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked="">
                <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员">
                <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" >
              </div>
          </div> -->
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">
          <span class="x-red">*</span>密码
        </label>
        <div class="layui-input-inline">
          <input type="password" id="L_pass" name="password" required lay-verify="pass" autocomplete="off"
            class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          6到16个字符
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
          <span class="x-red">*</span>确认密码
        </label>
        <div class="layui-input-inline">
          <input type="password" id="L_repass" name="repass" required lay-verify="repass" autocomplete="off"
            class="layui-input">
        </div>
      </div>
      <label>头像</label>
      <input id="avatar" type="file" name="avatar">
      <div><img src="https://www.baidu.com/img/flexible/logo/pc/result.png" alt="" id="img" style="width: 100px;"></div>
      <!-- <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
          <span class="x-red">*</span>头像
        </label>
        <button type="button" class="layui-btn" id="test1">
          <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
      </div> -->
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <!-- class="layui-btn" lay-filter="add" lay-submit="" -->

      </div>
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
        </label>
        <button class="layui-btn" lay-filter="add" lay-submit="" id="btn">
          增加
        </button>
      </div>
    </form>

    <div id="content">

    </div>
  </div>
  <script>
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
    // 当id为upload选中事件
    $('#avatar').change(function() {
        var url = getObjectURL(this.files[0]);
        if (url) {
            $('#img').attr('src', url);
        }
    });
    // function ajaxPost() {
    //   var formData = $("#form").serialize();
    //   //serialize() 方法通过序列化表单值，创建 URL 编码文本字符串,这个是jquery提供的方法
    //   $.ajax({
    //     type: "post",
    //     url: "{:url('Admin/index/admin_add')}",  //数据传输的控制器方法
    //     data: formData,//这里data传递过去的是序列化以后的字符串
    //     success: function (data) {
    //       $("#content").html(data)//获取成功以后输出返回值

    //     }
    //   });
    //   return false;
    // }

    // $(document).ready(function () {
    //   $("#add").click(function () {
    //     $("#content").load("{:url('Admin/admin/edit')}",$("#form").serialize());
    //     return false;
    //   });
    // });

    layui.use(['form', 'layer', 'upload','table'], function () {
      $ = layui.jquery;
      var form = layui.form
        , layer = layui.layer,
        upload = layui.upload;
        table=layui.table;

      //自定义验证规则
      form.verify({
        nikename: function (value) {
          if (value.length < 5) {
            return '昵称至少得5个字符啊';
          }
        }
        , pass: [/(.+){6,12}$/, '密码必须6到12位']
        , repass: function (value) {
          if ($('#L_pass').val() != $('#L_repass').val()) {
            return '两次密码不一致';
          }
        }
      });
      
      $('#btn').click(function(){
        $.ajax({
                url: '{:url("admin/index/user_add")}',
                type: 'POST',
                cache: false,
                data: new FormData($('#form')[0]),
                processData: false,
                contentType: false
            }).done(function(request) {
              // console.log(request,request.code,request.msg);
              request=JSON.parse(request);
              if(request['code']==0){
                // alert('成功');
                // parent.layer.close(index);
                // parent.location.reload();
                layer.alert("增加成功", { icon: 6 }, function () {
                // // 获得frame索引
                // var index = parent.layer.getFrameIndex(window.name);
                // //关闭当前frame
                // parent.layer.close(index);
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //表格重载
                console.log(parent.layui);
                // parent.layui.table.reload('dataTable');
                parent.location.reload();
                //关闭当前frame 
                parent.layer.close(index);

              });
              }
            }).fail(function(res) {
              alert(res)
            });
            return false;
      })
      //监听提交
      // form.on('submit(add)', function (data) {
      //   console.log(data.field);
      //   uploadInst.upload(); 
      //   data.field['avatar']=$('#avatar').val();
      //   //发异步，把数据提交给php
      //   $.ajax({
      //     type: 'post',
      //     url: '{:url("admin/index/admin_add")}',
      //     data: {
      //       field: data.field
      //     },
      //     dataType: 'json',
      //     success: function (data) {
      //       console.log(data);
      //       if (data.code == 0) {
              // layer.alert("增加成功", { icon: 6 }, function () {
              //   // // 获得frame索引
              //   // var index = parent.layer.getFrameIndex(window.name);
              //   // //关闭当前frame
              //   // parent.layer.close(index);
              //   // 获得frame索引
              //   var index = parent.layer.getFrameIndex(window.name);
              //   //表格重载
              //   console.log(parent.layui);
              //   // parent.layui.table.reload('dataTable');
              //   parent.location.reload();
              //   //关闭当前frame 
              //   parent.layer.close(index);

              // });
      //       } else {
      //         layer.alert("增加失败", { icon: 5 })
      //       }
      //     }
      //   })
      //   // layer.alert("增加成功", {icon: 6},function () {
      //   //     // 获得frame索引
      //   //     var index = parent.layer.getFrameIndex(window.name);
      //   //     //关闭当前frame
      //   //     parent.layer.close(index);
      //   // });
      //   return false;
      // });

      // var uploadInst = upload.render({
      //   elem: '#test1' //绑定元素
      //   , url: '{:url("admin/index/upload")}' //上传接口
      //   , field: 'avatar'
      //   , done: function (res) {
      //     console.log(res);
      //     //上传完毕回调
      //     // console.log(res);
      //     // var filename = res.filename;
      //     // console.log(filename);
      //     // $('#avatar').val(filename);
      //     if(res.code==0){
      //               var filename = res.filename;
      //               // 把文件名放到表单的隐藏域
      //               $('#avatar').val(filename);
      //               layer.msg(res.msg);
      //           }else{
      //               layer.msg(res.msg);
      //           }
      //     // layer.alert("增加成功", { icon: 6 }, function () {
      //     //   // 获得frame索引
      //     //   var index = parent.layer.getFrameIndex(window.name);
      //     //   //关闭当前frame
      //     //   parent.layer.close(index);
      //     // }
      //     // );
      //   }
      //   , error: function () {
      //     //请求异常回调
      //   }
      // });
     
    });
  </script>
</body>

</html>